<!DOCTYPE html>
<html>
<head>
    <title>Speech File To Text</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<input type="file" name="speech">
<button onclick="doUpload()">Upload</button>
<br>
<textarea id="textId" style="width: 500px"></textarea>
</body>
<script src="/fetch/fetch.js"></script>
<script type="text/javascript">
    function doUpload() {
        document.querySelector('#textId').value = '';
        var input = document.querySelector('input[type="file"]');

        var data = new FormData();
        data.append('speech', input.files[0]);

        fetch('/api/speech/upload', {
            method: 'POST',
            body: data
        }).then(function (response) {
            return response.text();
        }).then(function (result) {
            document.querySelector('#textId').value = result;
        });
    }
</script>
</html>
